/* scss styles */



/* Colors */
$body-bg: $theme-lightgreen;
$body-color: $theme-green;
$link-color: $theme-black;


/* Font */
$font-family-sans-serif: "Poppins", sans-serif;


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    color: $theme-green;
}


.navbar * {
    color: $theme-green;
}

span.navbar-title {
    color: $theme-green;
    transition-duration: 0.5s;

    &:hover {
        color: lighten($theme-green, 10%);
        transition-duration: 0.5s;
    }
}